@page "/"
@using Client
@namespace Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AndriuhaAssignment</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/signup.css" rel="stylesheet"/>
    <link href="css/loading.css" rel="stylesheet"/>
    <link href="css/createShift.css" rel="stylesheet"/>
    <link href="css/navigation.css" rel="stylesheet"/>
    <link href="css/shiftList.css" rel="stylesheet"/>
    @* <link href="css/HomeComponent.razor.css" rel="stylesheet"/> *@
    <link href="css/ContactComponent.css" rel="stylesheet"/>
    <link href="css/AboutComponent.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
            // document.getElementById("content").style.margin = "0px 0px 0px 250px";
        } else {
            document.getElementById("navbar").style.top = "-60px";
            // document.getElementById("content").style.margin = "0px 0px 0px 0px";
        }
        prevScrollpos = currentScrollPos;
        }
    </script>
    @* <script> *@
    @*     document.getElementById('datePicker').value = "2020-01-01"; *@
    @* </script> *@
</body>
</html>