@page "/AboutComponent"

<link href="css/AboutComponent.razor.css" media="screen" rel="stylesheet">



<div class="about1">
    <div class="photo">
        <img src="work3.png"  width="400" height="600">
    </div>

    <div class="content1">
        <h2 class="firstHeader">Reason for creating this system</h2>
        <p class="headerFirst">
            Nowadays, it is difficult to find a suitable workplace, which was the reason our group decided to create a work
            share platform. Our team noticed that there are a lot of people working as substitutes for temporary work agencies 
            in Denmark. Most of the time they do not have direct access to employers. The problem in working for such an agency
            consists of the incapability of selecting a specific job for a specific day, knowing all the requirements and 
            the employer’s expectations. Temporary work agencies are not flexible enough to offer their workers the best job 
            opportunity with a satisfying place and time. All the above-mentioned problems were used as a base to develop an
            open workplace sharing platform in order to solve them.
        </p>
        <h2 class="firstHeader">The objective of this project</h2>
        <p class="headerSecond"> The goal of creating a work share platform was to make an affordable alternative to temporary work agencies and provide more diversity of content and flexibility. This platform will provide employees with the possibility of searching for any suitable jobs that fulfill their possibilities and desires - like specific days, times, and places in a free form. At the same time, the employers will be able to look for specific workers that will fulfill their standards and requirements. </p>
        <h2 class="firstHeader">In addition about this system</h2>
        <p class="headerThird">Moreover, if any of the unmentioned types of users will find anything relevant to themselves, they will be able to communicate directly with each other. First of all, by general information that the system contains about users, such as email or phone number, secondly by chatting in a local messenger in order to get a better understanding of what exactly employer is expecting and what the potential employee can provide. </p>
    </div>    
</div>

@code {
    
}