@page "/ContactComponent"
<link href="css/ContactComponent.razor.css" media="screen" rel="stylesheet">
<h3 class="headers">Contact Us</h3>
<p></p>
<p></p>
<p></p>
<p></p>
<h1></h1>
<h1></h1>
<h1></h1>

<div class="contact">
  <div class="contact1">
  <img src="andrei.jpg" width="400" height="400" alt=""/>
  <p>Moldovanu Andrei</p>
  <p>Email: 293175@via.dk</p>
  </div>
</div>
 
   <div class="contact">
     <img src="tautvydas.png" width="400" height="400"  alt=""/>
     <p>Taytvydas Bilevas</p>
     <p>Email: 293153@via.dk</p>
   </div>
 
   <div class="contact">
     <img src="mirka.jpg" width="400" height="400" alt=""/>
     <p>Miroslav Zniscinskij</p>
     <p>Email: 293715@via.dk</p>
   </div>
 
   


@code {
    
}