@page "/ContactComponent"
<link href="css/ContactComponent.css" media="screen" rel="stylesheet">
<h3>ContactComponent</h3>


   <div class="contact">
     <img src="andrei.jpg" width="300" height="300" alt=""/>
     <p>Moldovanu Andrei</p>
     <p>Email: 293175@via.dk</p>
   </div>
 
   <div class="contact">
     <img src="tautvydas.png" width="300" height="300"  alt=""/>
     <p>Taytvydas Bilevas</p>
     <p>Email: 293153@via.dk</p>
   </div>
 
   <div class="contact">
     <img src="mirka.jpg" width="300" height="300" alt=""/>
     <p>Miroslav Zniscinskij</p>
     <p>Email: 293715@via.dk</p>
   </div>
 
   


@code {
    
}