@inherits LayoutComponentBase

<div class="sidebar">
    <NavBar/>
</div>

<div class="main">
    <div class="content" style="height: 100%; background: #f2d184;">
        @* <img class="logIn-img" src="backgroung-login.jpg"> *@
        @Body
    </div>
</div>