<div id="navbar" class="navbar">
    <div class="navbar-main">
        <div class="logo-routing">
            <div class="logo">
                <a style="margin: 0;" class="navbar-brand" href="">Logo</a>
                <button class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <ul class="nav">
                    <li class="nav_li">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav_li">
                        <NavLink class="nav-link" href="AboutComponent" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> About
                        </NavLink>
                    </li>
                    <li class="nav_li">
                        <NavLink class="nav-link" href="ContactComponent" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Contact Us
                        </NavLink>
                    </li>
                    <AuthorizeView Policy="SecurityLevel4">
                        <li class="nav_li">
                            <NavLink class="nav-link" href="shift-list" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> My Shifts
                            </NavLink>
                        </li>
                    </AuthorizeView>
                    <AuthorizeView Policy="SecurityLevel4">
                        <li class="nav_li">
                            <NavLink class="nav-link" href="application-list" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Employees
                            </NavLink>
                        </li>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
        <div class="login-main">
            <ul class="nav">
                <li class="nav_li">
                    <NavLink class="nav-link-login" href="/log-in" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Log In
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>


@code {

}